/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

#grass{
  width: 70%;
}

#shoe-archive {
  width: 40%;
}

/*#featured, #shoe-archive{*/
/*  float: left;*/
/*}*/

.container{
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
}

.container .sm-featured{
  width: 30%;
}

/* Positioning Classes */


